<% @movies.each do |movie| %>
  <h1><%= link_to movie.title, movie %></h1>
  <div>
    <%= truncate(movie.description, length: 45) %>
  </div>
<% end %>

<br>
<div class="">
  <%= link_to "New Movie", new_movie_path, class: "btn btn-success" %>
</div>
